:root {
    --primary-color: #528bf5;
}

*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #797272;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 20px;
}

h1{
    color: var(--primary-color);
    font-size: 50px;
}

p {
    text-align: center;
    font-size: 30px;
}


.btn{
    color: black;
    background: var(--primary-color);
    cursor: pointer;
    border-radius: 5px;
    font-size: 25px;
    padding: 5px 20px;
}

.moneda{
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.moneda select{
    padding: 10px 20px 10px 10px;
    border: 3px solid #000000;
    font-size: 20px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.moneda input {
    border: 1px solid #000000;
    font-size: 30px;
    text-align: right;
}

select:focus, input:focus, button:focus{
    outline: 0;
}

@media (max-width:600px) {
    .moneda input{
        width: 200px;
    }
    
}
